{
  //0 - Disable the rule
  //1 - Warn about the rule
  //2 - Throw error about the rule

  "parser": "babel-eslint",

  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },

  // To give you an idea how to override rule options:
  "rules": {    
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0]
  },
}
